@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-peyda), sans-serif;
  text-align: right;
  font-feature-settings: "ss01";
}
